@use './abstracts/vars';

@use './base';
@use './layout';

:root {
    --airbnb-pink: #FF385C;
}

.logo {
    width: 150px;
    height: auto;
    fill: var(--airbnb-pink);
}

nav {
    // background-color: $color__orange;
    ul {
        display: flex;
        gap: 1rem;
        li {
            a {
                font-family: vars.$font__primary;
                font-weight: bold;
                font-size: 1rem;
                color: black;
                text-decoration: none;
                &:hover,
                &:focus {
                    color: vars.$color__orange;
                    text-decoration: underline;
                }
            }
        }
    }
}

.btn-ui {
    padding: 1rem;
    background-color: transparent;
    border: 1px solid var(--airbnb-pink);
}
.btn-ui svg {
    width: 2rem;
    height: auto;
    fill: var(--airbnb-pink);
    cursor: pointer;
}
.overlay {
    width: 100vw;
    height: 100vh;
    background-color: limegreen;
    position: fixed;
    top: 0;
    left: -100vw;
    z-index: 1000;
    transition: all .25s;
}
.overlay.active {
    left: 0;
}

.room {
    padding-top: 1rem;
    padding-bottom: 1 rem;
    border-bottom: 1px solid green;
}
.room--name {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Arial;
}
.room--description {
    font-size: 1rem;
    font-family: Arial;
    font-style: italic;
}
.category {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.category h2 {
    font-weight: bold;
    font-family: Arial;
    font-size: 2rem;
}